body{
    background-color:#CED4D8;
}
h1{
    color:#AC6AC7;
}
h2{
    color:rgb(255,165,0);
}
li{
    color:blue;
}
p{
    background-color: gold;
}
input[type=email]{
    border: 5px pink dotted;
    background-color: #808080;
}
input[type=text]{
    border: 5px pink dotted; 
}
.first{
    background-color: #fff ;
}
#important{
    border: 3px #1414dc dashed;

}
div > p{
    font-size: 30px
}
/* Thrd div secound p */
/* div ~ div:nth-of-type(odd) > p{
    background-color: hotpink;
} */
div:nth-of-type(3) > p{
    background-color: hotpink;
}
div:nth-of-type(3) p:nth-last-of-type(1){
    border: 7px solid rgb(255, 255, 255)
}
/* :nth-of-type(5) :nth-child(2) */
/* div:nth-of-type(3) p ~p{
    border: 7px solid rgb(255, 255, 255)
} */
/* div ~ div:nth-of-type(odd) > p ~ p{
    border: 7px solid rgb(255, 255, 255)
} */
em{
    color:seashell;
    font: 25px
}
:checked {
    margin-left: 40px;
}
label {
    text-transform: lowercase;
}
#important::first-letter{
    font-size: 90px;
    color: limegreen;
}
h1:hover{
    color: navy;
}
a:visited{
    color: silver;
}
